header{
    background-color: rgba(235, 175, 175, 0.651);
}
button{
    border:0px;
    background-color: rgb(255, 255, 255);
    color: red;
}
.accueil {
    padding: 1px 5px;
    margin: 5px 4px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
  }
  .accueil {
    border: 1px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  }
  .accueil::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #003177;
    box-shadow: inset 0px 0px 0px #b6cdef;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  }
  .accueil:hover::before {
    width: 100%;
  }
  .accueil::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #a9c1e8;
    -webkit-transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
    transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
  }
  .accueil:hover::after {
    width: 100%;
  }
  .accueil:hover {
    border-left: 1px solid #b6cdef;
    border-right: 1px solid #6098ff;
  }

  .apropos {
    padding: 1px 5px;
    margin: 5px 4px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
  }

  .apropos {
    border: 1px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  }
  .apropos::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #003177;
    box-shadow: inset 0px 0px 0px #b6cdef;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  }
  .apropos:hover::before {
    width: 100%;
  }
  .apropos::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #a9c1e8;
    -webkit-transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
    transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
  }
  .apropos:hover::after {
    width: 100%;
  }
  .apropos:hover {
    border-left: 1px solid #b6cdef;
    border-right: 1px solid #6098ff;
  }
  