header{
    background-color: rgb(0, 0, 0);
}
#log button{  

    padding: 1% 3%;
    margin: 5px 4px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: rgb(183, 0, 189);
    color:aliceblue;
    border: 0;
  }
  
#menu button{
    padding: 1% 3%;
    margin: 5px 4px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    background-color: rgb(0, 183, 255);
    color:aliceblue;
    transform: skew(-20deg);
    border: 0;
  }
.jeux a{
    display: inline-block;
    width: 190px;
    height: 354px;
    border-radius: 20px;
    padding: 5%;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    text-align: center ;
    margin: 5% 4%;
}
.input {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: 1%;
    min-height: 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    line-height: 1.15;
  }

  
html {background-image: url(6226460.jpg);}
body{
    margin: 0px;
    padding: 0px;
  }

#menu ul{
    display: flex;
    justify-content: start;
    padding: 0px;
    border: red solid 0.1px;
  }

#log{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
#nav_menu {
    display: flex;
    justify-content: space-between;
    border: red solid 0.1px;
  }
  