<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='jeu.css') }}">
    <script src="{{ url_for('static', filename='mwte_website.js') }}"></script>
</head>

<body>
    <header>
        <div id="log">
            <a href="/registration"><button>Inscription</button></a>  
            <a href="/connexion"><button>Connexion</button></a>
        </div>
        <div id="menu">
            <!-- Mettre Logo MWTE -->
            <img src="{{ url_for('static', filename='Concept1.PNG') }}" alt="Logo MWTE" width="20%" height="20%">
    <nav>
        <a href="/"><button>Accueil</button></a>
        <a href="/apropos"><button>A propos</button></a>
        <a href="/jeux"><button>Jeux</button></a>
        <a href="/updates"><button>Updates</button></a>
        <a href="/contact"><button>Contacts</button></a>
        <a href="/merch"><button>Merch</button></a>
        <a><input class="input" name="text" placeholder="Search..." type="search"></a>
    </nav>

        </div>
    </header>
        <main>
            
            <div class="jeux">
                
                <a class="Test1" onclick="window.location.href ='JeuTest1.html' ">Jeu Test 1</a>
                <a class="Test2" onclick="window.location.href ='JeuTest2.html' ">Jeu Test 2</a> 
                <a class="Test2" onclick="window.location.href ='JeuTest2.html' ">Jeu Test 3</a> 
                <a class="Test2" onclick="window.location.href ='JeuTest2.html' ">Jeu Test 4</a> 
                <a class="Test2" onclick="window.location.href ='JeuTest2.html' ">Jeu Test 5</a> 
                <a class="Test2" onclick="window.location.href ='JeuTest2.html' ">Jeu Test 6</a> 
                <a class="Test2" onclick="window.location.href ='JeuTest2.html' ">Jeu Test 7</a> 
                <a class="Test2" onclick="window.location.href ='JeuTest2.html' ">Jeu Test 8</a> 
           <div>
        </main>
        <footer>
        </footer>
    </body>