<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mwte_website.css') }}">
    <script src="{{ url_for('static', filename='mwte_website.js') }}"></script>
</head>

<body>
    <header>
        <div id="log">
            <a href="/registration"><button>Inscription</button></a>  
            <a href="/connexion"><button>Connexion</button></a>
        </div>
        <div id="menu">
            <!-- Mettre Logo MWTE -->
            <img src="{{ url_for('static', filename='Concept1.PNG') }}" alt="Logo MWTE" width="50%" height="50%">
    <nav>
        <a href="/"><button>Accueil</button></a>
        <a href="/apropos"><button>A propos</button></a>
        <a href="/jeux"><button>Jeux</button></a>
        <a href="/updates"><button>Updates</button></a>
        <a href="/contact"><button>Contacts</button></a>
        <a href="/merch"><button>Merch</button></a>
        <a><input class="input" name="text" placeholder="Search..." type="search"></a>
    </nav>

        </div>
    </header>
        <main>
            <section>
                <h1><strong>Dernières News</strong></h1>
                <h2>Updates</h2>
                <img src="" alt="" >
                <p>blablbla</p>
                <h2>Prochaines Updates</h2>
                <img src="" alt="" >
                <p>bllllllla</p>
                <h2>news prochains jeux</h2>
                <img src="" alt="" >
                <p>gblskf</p>
            </section>
        </main>
        <footer>
            <p>Tout droits réservés. {{ current_year }}</p>
        </footer>
    </body>
</html>
