<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Fichiers CSS Site MWTE/mwte_website.css') }}">
    <script src="{{ url_for('static', filename='Fichiers Javascript Site MWTE/mwte_website.js') }}"></script>
</head>

<body>
    <header>
        <div id="log">
            <button class="registration" onclick="window.location.href = '/registration'">Inscription</button>  
            <button class="connexion" onclick="window.location.href = '/connexion'">Connexion</button>
        </div>
        <div id="menu">
            <!-- Mettre Logo MWTE -->
            <img src="{{ url_for('static', filename='Images/Mwte.png') }}" alt="Logo MWTE" width="20%" height="20%">
            <nav>
                <ul>
                    <button onclick="window.location.href = '/accueil'">Accueil</button>
                    <button onclick="window.location.href = '/apropos'">A propos</button>
                    <button onclick="window.location.href = '/jeux'">Jeux</button>
                    <button onclick="window.location.href = '/updates'">Updates</button>
                    <button onclick="window.location.href = '/contact'">Contacts</button>
                    <button onclick="window.location.href = '/merch'">Merch</button>
                    <input class="input" name="text" placeholder="Search..." type="search">
                </ul>  
            </nav>
        </div>
    </header>
        <main>
            <section>
                <h1><strong>Dernières News</strong></h1>
                <h2>Updates</h2>
                <img src="" alt="" >
                <p>blablbla</p>
                <h2>Prochaines Updates</h2>
                <img src="" alt="" >
                <p>bllllllla</p>
                <h2>news prochains jeux</h2>
                <img src="" alt="" >
                <p>gblskf</p>
            </section>
        </main>
        <footer>
            <p>Tout droits réservés. {{ current_year }}</p>
        </footer>
    </body>
</html>
